/* Agrega estilos según sea necesario */
.containerForgotPassword {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleForgotPassword {
  color: var(--color-principal);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.parrafoForgotPassword {
  color: var(--color-black);
  margin-bottom: 20px;
}

.labelForgotPassword {
  display: block;
  margin-bottom: 10px;
  color: var(--color-black);
}

.inputForgotPassword {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btnForgotPassword {
  background-color: var(--color-principal);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.btnForgotPassword:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
