.messageContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.registerMessageContainer p {
  margin: 0;
}

.error {
  background-color: #ff000f;
}

.success {
  background-color: #4caf50;
}
