.divContainerProfile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.h2Profile {
  font-size: 24px;
  margin-bottom: 10px;
}

.messageContainerProfile {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.messageContainerProfile .messageProfile {
  margin: 0;
}

.inputProfile {
  width: 80%;
  padding: 8px;
  margin-right: 10px;
}

.spanProfile {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

.buttonSaveChanges {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.pLoading {
  color: gray;
}
