.deleteMessageContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.deleteMessageContainer p {
  margin: 0;
}

/* Boton Github */
.btnGithub {
  background-color: #24292e;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.btnGithub:hover {
  background-color: #181c20;
}

.labelPass {
  display: flex;
  flex-direction: row;
}

.registerPass {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.registerPass::placeholder {
  color: var(--color-black);
}

.registerPass:focus {
  outline: none;
}

.showPasswordButton {
  padding: 5px;
  margin: 10px 0;
  border-bottom: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background: #ffffff;
  cursor: pointer;
}

.showPasswordButton:focus {
  outline: none;
}
